/*
   为出现滚动条分页 的页面 所单独写的样式
**/

body {
    position: initial;
}
header{
    height: 4rem;
    line-height: 4rem;
}
footer{
    height: 4rem;
    background-color: #e93038;
    text-align: center;
    color: #fff;
    line-height: 4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#wrapper{
    width: 100%;
    position: absolute;
    left: 0;
    top: 4rem;
    bottom: 0rem;
    overflow: hidden;
    z-index: 1;
}

.more{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}
.pull_icon{
    width: 25px;
    height: 25px;
    background-image: url('../image/pull.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    transition: all .5s;
}
.more span{
    padding-left: .5rem;
}

.scroller{
    background-color: #fff;
}


.more .flip{
    transform: rotate(180deg);
}
.loading{
    background-image: url('../image/loading.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}
.more .loading{
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}
